{% comment %}
  A few assets for this twig demo
{% endcomment %}
<link href='//fonts.googleapis.com/css?family=Coustard:900' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.css"/>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js"></script>


{{ 'twigs-testimonial-showcase.scss.css' | asset_url | stylesheet_tag }}

<div class="testimonials large--two-thirds push--large--one-sixth">
  {% for article in blogs.testimonials.articles limit: 8 %}
    {% assign src = false %}
    {% if article.content contains "<img" %}
      {% assign src = article.content | split: 'src="' %}
      {% assign src = src[1] | split: '"' | first | replace: 'http:http://', '//' | remove: 'https:' %}
      {% if src %}
        {% assign src = src | replace:'_pico','_large' | replace:'_icon','_large'| replace:'_thumb','_large' | replace:'_small','_large' | replace:'_compact','_large' | replace:'_medium','_large' | replace:'_1024x1024','_large' | replace:'_grande','_large' | replace:'_2048x2048','_large' | replace:'_ master','_large' %}
      {% endif %}
      <div class="grid testimonial">
        <div class="grid__item large--one-quarter">
          <img src="{{ src }}" alt="{{ article.title }}">
        </div>
        <div class="grid__item large--three-quarters">
          <p>{{ article.content | strip_html }}
          <br><span class="by">- {{ article.title }}</span></p>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>

<script>
  $('.testimonials').slick({
    slidesToShow: 1,
    autoplay: true,
    autoplaySpeed: 2000,
    arrows: false
  });
</script>